<app-header></app-header>
<body>
  <div class="alert alert-dismissible fade show w-25 alert-custom"
       [innerHTML]="alertText"
  [ngClass]="{'d-block': showAlert,'d-none': !showAlert, 'alert-success': alertType === 'success',
  'alert-danger': alertType === 'error', 'alert-info': alertType === 'info'}">
  </div>
  <div class="loader" [ngClass]="{'d-block' : isLoading}">
    <div class="my-progress" >
      <div class="indeterminate"></div>
    </div>
  </div>
  <div class="modal fade" bsModal #customDataModal="bs-modal">
    <div class="modal-dialog modal-lg myDataModal">
      <div class="modal-content">
        <div class="modal-header">
          <h4>Terms and Conditions</h4>
          <button type="button" class="close" (click)="customDataModal.hide()">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body" style="font-family: 'Averia Serif Libre' !important;font-size: 0.9rem;">
          <ul>
            <li>
              You must be of legal drinking age, 21 and above (for beer). Carrying ID is mandatory. This is the one rule we will enforce.
            </li>
            <li>
              The games are divided into two parts - Eliminations and Finals.
              <ul>
                <li>
                  The elimination rounds are a race against time. All four team members will play during the elimination rounds.
                </li>
                <li>
                  Four teams can qualify in EACH game, thus everyone stands a fair chance of making it to the finals.
                </li>
                <li>
                  In the finals, teams will face off against each other. Qualifying teams will nominate one player to represent them in the finals.
                </li>
              </ul>
            </li>
            <li>
              Rules for each individual game shall be duly explained by our referees.
            </li>
            <li>
              Each game has a referee, and the referee is always right.
            </li>
            <li>
              This is just a game. Not a death match. Please don't lose your sense of proportion.
            </li>
            <li>
              The grand prize will be awarded on a point grade system.
            </li>
            <li>
              In case of a tie, the final decision will be taken by the referees.
            </li>
            <li>
              As this is an ALCOHOL consumption event, please be responsible. Make sure that your team has a designated driver/cab after the tournament is over.
            </li>
            <li>
              We want to make sure everyone has a great time, but more importantly that everyone makes it home safe so you can keep playing beer games with us.
            </li>
          </ul>
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button type="button" class="btn btn-danger" (click)="navToRegister(customDataModal)">Proceed</button>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</body>
