<div class="container-fluid main-container pt-2">
  <div class="row">
    <div class="col-sm-12 col-xs-12 pt-4 text-center m-auto">
      <br />
      <br />
      <div class="hide-from-ipad">
        <ul class="list-inline desktop-game-list ">
          <li class="list-inline-item">
            <img src="../assets/imgs_2019/web-beerjenga.png" alt="Beer Jenga" class="desktop-game-img" />
          </li>
          <li class="list-inline-item">
            <img src="../assets/imgs_2019/web-darts.png" alt="Darts" class="desktop-game-img" />
          </li>
          <li class="list-inline-item">
            <img src="../assets/imgs_2019/web-mumblejumble.png" alt="Mumble Jumble" class="desktop-game-img" />
          </li>
          <li class="list-inline-item">
            <img src="../assets/imgs_2019/web-beerpong.png" alt="Beer Pong" class="desktop-game-img" />
          </li>
          <li class="list-inline-item">
            <img src="../assets/imgs_2019/web-chugrelay.png" alt="Chug Relay" class="desktop-game-img" />
          </li>
        </ul>
      </div>
      <img class="m-auto main-event-logo show-from-ipad" src="../assets/imgs_2019/Doolally-Beer-Olympics-2019.png" alt="Main event logo" />
      <h4 class="main-beer-header mt-5 mb-5 color-darkgray opacity6">SATURDAY, MAY 18 | 11 AM To 6 PM<br />DOOLALLY, KHAR</h4>
      <div class="event-description">
        <p class="sub-main-beer-header opacity7">
          For the last nine years, we have celebrated one of summer's favorite traditions.
          One of ruthless physical competition and endless beer consumption.<br /><br />
          This year, your team will play five games designed to test your physical, verbal and mental skills.
          All under the influence.<br /><br />
          You will need a beer belly made of steel, drunken determination and a team of four.<br /><br />
          Day drinking friends. Assemble.
        </p>
      </div>
      <div class="content-heading show-from-ipad">
        <img src="../assets/imgs_2019/the-games.png" alt="Games Title" class="games-title pt-5" />
        <br />
        <p class="opacity7 pt-2">Games of fierce skill in the land of very high buzz.</p>
      </div>
    </div>
  </div>
  <div class="show-from-ipad">
    <div class="row pt-5 game-row">
      <div class="align-self-center fix-after-ipad pr-3 pl-3">
        <img src="../assets/imgs_2019/web-beerjenga.png" alt="Beer Jenga" class="img-fluid game-img" />
      </div>
      <div class="align-self-center fix-after-ipad pr-3 pl-3">
        <p class="game-description">
          A classic 54-block tower.<br />
          A deliciously evil twist.<br />
          Make sure your pull out game is strong.
        </p>
        <div class="info-dotted-border p-2">
          <h4 class="info-green-header">Prizes</h4>
          <h6 class="games-sub-text">Gold - Rs 3000 worth of beer</h6>
          <h6 class="games-sub-text">Silver - Rs 2400 worth of beer</h6>
          <h6 class="games-sub-text m-0">Bronze - Rs 1800 worth of beer</h6>
        </div>
      </div>
    </div>
    <div class="row pt-5 game-row mt-2">
      <div class="align-self-center fix-after-ipad pl-3 pr-3">
        <p class="game-description">
          Speed and precision at your<br />
          favourite pub pastime.<br />
          Remove your beer goggles.
        </p>
        <div class="info-dotted-border p-2">
          <h4 class="info-green-header">Prizes</h4>
          <h6 class="games-sub-text">Gold - Rs 3000 worth of beer</h6>
          <h6 class="games-sub-text">Silver - Rs 2400 worth of beer</h6>
          <h6 class="games-sub-text m-0">Bronze - Rs 1800 worth of beer</h6>
        </div>
      </div>
      <div class="align-self-center fix-after-ipad pr-3 pl-3">
        <img src="../assets/imgs_2019/web-darts.png" alt="Darts" class="img-fluid game-img" />
      </div>
    </div>
    <div class="row pt-5 game-row mt-2">
      <div class="align-self-center fix-after-ipad pr-3 pl-3">
        <img src="../assets/imgs_2019/web-mumblejumble.png" alt="Mumble Jumble" class="img-fluid game-img" />
      </div>
      <div class="align-self-center fix-after-ipad pr-3 pl-3">
        <p class="game-description">
          You'll need brains and<br />
          brawn. And drunken determination.
        </p>
        <div class="info-dotted-border p-2">
          <h4 class="info-green-header">Prizes</h4>
          <h6 class="games-sub-text">Gold - Rs 3000 worth of beer</h6>
          <h6 class="games-sub-text">Silver - Rs 2400 worth of beer</h6>
          <h6 class="games-sub-text m-0">Bronze - Rs 1800 worth of beer</h6>
        </div>
      </div>
    </div>
    <div class="row pt-5 game-row mt-2">
      <div class="align-self-center fix-after-ipad pl-3 pr-3">
        <p class="game-description">
          Aim, lob, shoot. Easier said<br />
          than done. If you're seeing<br />
          in triplicate.
        </p>
        <div class="info-dotted-border p-2">
          <h4 class="info-green-header">Prizes</h4>
          <h6 class="games-sub-text">Gold - Rs 3000 worth of beer</h6>
          <h6 class="games-sub-text">Silver - Rs 2400 worth of beer</h6>
          <h6 class="games-sub-text m-0">Bronze - Rs 1800 worth of beer</h6>
        </div>
      </div>
      <div class="align-self-center fix-after-ipad pr-3 pl-3">
        <img src="../assets/imgs_2019/web-beerpong.png" alt="Beer Pong" class="img-fluid game-img" />
      </div>
    </div>
    <div class="row pt-5 game-row mt-2">
      <div class="align-self-center fix-after-ipad pr-3 pl-3">
        <img src="../assets/imgs_2019/web-chugrelay.png" alt="Chug Relay" class="img-fluid game-img" />
      </div>
      <div class="align-self-center fix-after-ipad pr-3 pl-3">
        <p class="game-description">
          A group chug. You will need<br />
          speed, teamwork and beer<br />
          to mouth coordination.
        </p>
        <div class="info-dotted-border p-2">
          <h4 class="info-green-header">Prizes</h4>
          <h6 class="games-sub-text">Gold - Rs 3000 worth of beer</h6>
          <h6 class="games-sub-text">Silver - Rs 2400 worth of beer</h6>
          <h6 class="games-sub-text m-0">Bronze - Rs 1800 worth of beer</h6>
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />
  <div class="hide-from-ipad">
    <div class="row">
      <div class="col-sm-6">
        <div class="info-dotted-border p-2 fixed-desktop-containers stay-right">
          <img src="../assets/imgs_2019/participation-fee.png" alt="participation Fee" class="img-fluid pt-1" />
          <h5 class="m-0 pt-2 opacity7">Rs 2000 per head</h5>
          <h6 class="games-sub-text font-medium">Gather a team of four beer athletes (above 21 yrs)<br />
            and sign your team up today</h6>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="info-dotted-border p-2 fixed-desktop-containers stay-left">
          <img src="../assets/imgs_2019/prizes-per-game.png" alt="prizes per game" class="img-fluid pb-1" />
          <h6 class="games-sub-text slightly-big pt-1">Gold - Rs 3000 worth of beer</h6>
          <h6 class="games-sub-text slightly-big">Silver - Rs 2400 worth of beer</h6>
          <h6 class="games-sub-text slightly-big m-0">Bronze - Rs 1800 worth of beer</h6>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 pt-3">
        <div class="prize-container d-flex justify-space-evenly info-dotted-border p-4 big-desktop-container stay-center">
          <div class="d-flex prize-content-left">
            <img src="../assets/imgs_2019/grand-prize-web.png" alt="Grand Prize" class="align-self-center mr-3" style="width:300px">
            <!-- <img src="../assets/imgs_2019/winners.png" alt="Winners" class="align-self-center mr-3" style="width:300px"> -->
          </div>
          <div class="d-flex prize-content-right">
            <h6 class="games-sub-text slightly-big font-medium">
              <strong>Golden Mug</strong><br />
              Rs 10,000 worth of beer
            </h6>
            <h6 class="games-sub-text slightly-big font-medium">
              <strong>Silver Pint</strong><br />
              Rs 5,000 worth of beer
            </h6>
            <h6 class="games-sub-text slightly-big font-medium m-0">
              <strong>Bronze Half-Pint</strong><br />
              Rs 3,000 worth of beer
            </h6>
          </div>
        </div>
      </div>
    </div>
    <br />
    <br />
    <div class="row">
      <div class="col-sm-12 text-center">
        <img src="../assets/imgs_2019/the-olympics-kit.png" alt="Olympics Kit" class="img-fluid" style="width: 300px" />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="d-flex justify-space-evenly p-3" style="align-items: baseline;">
          <div class="d-flex flex-direction-col">
            <img src="../assets/imgs_2019/beer.png" alt="Beer" class="align-self-center mr-3 kit-size">
            <p class="game-description pt-4 kit-size">
              Each team will comsume 10
              litres of Olympics beer, while
              playing all five games during eliminations.
            </p>
          </div>
          <div class="d-flex flex-direction-col">
            <img src="../assets/imgs_2019/olympics-tshirt.png" alt="Tshirt" class="align-self-center mr-3 kit-size">
            <p class="game-description pt-4 kit-size">
              Original 9th Edition Beer
              Olympics T-shirt. To keep you
              fresh and well-absorbed.
            </p>
          </div>
          <div class="d-flex flex-direction-col">
            <img src="../assets/imgs_2019/merch.png" alt="Medal" class="align-self-center mr-3 kit-size">
            <p class="game-description pt-4 kit-size">
              Medal, badge, certificate.
              Wear your accomplishment.
              Once you've achieved
              greatness.
            </p>
          </div>
          <div class="d-flex flex-direction-col">
            <img src="../assets/imgs_2019/food.png" alt="Food" class="align-self-center mr-3 kit-size">
            <p class="game-description pt-4 kit-size">
              Snackbox worth Rs. 600.
              Because a warrior needs to eat.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="show-from-ipad">
    <div class="content-heading">
      <img src="../assets/imgs_2019/the-grand-prize.png" alt="Grand Prize" class="games-title pt-5" />
      <br />
      <p class="opacity7 pt-3 font-for-small-screen">Win points, pints and bragging rights.<br />
      And the greatest reward a team can aspire for - The Golden Mug!</p>
    </div>
    <br />
    <div class="info-dotted-border p-2 d-flex justify-space-evenly">
      <img src="../assets/imgs_2019/winners.png" alt="Winners" class="img-fluid width-half-after-ipad" />
      <div class="pl-3">
        <h6 class="games-sub-text font-medium">
          <strong>Golden Mug</strong><br />
          Rs 10,000 worth of beer
        </h6>
        <h6 class="games-sub-text font-medium">
          <strong>Silver Pint</strong><br />
          Rs 5,000 worth of beer
        </h6>
        <h6 class="games-sub-text font-medium m-0">
          <strong>Bronze Half-Pint</strong><br />
          Rs 3,000 worth of beer
        </h6>
      </div>
    </div>
    <div class="info-dotted-border mt-5 participation-container">
      <img src="../assets/imgs_2019/participation-fee.png" alt="participation Fee" class="img-fluid pt-1 w50 width-medium-after-ipad" />
      <h5 class="m-0 pt-2 opacity7">Rs 2000 per head</h5>
      <h6 class="games-sub-text font-medium">Gather a team of four beer athletes (above 21 yrs)<br />
      and sign your team up today</h6>
    </div>
    <div class="pt-5 mt-2">
      <img src="../assets/imgs_2019/the-olympics-kit.png" alt="Olympics Kit" class="img-fluid pt-1 w50 width-medium-after-ipad" />
      <br />
      <div class="row game-row mt-2">
        <div class="align-self-center fix-after-ipad pl-3 pr-3">
          <p class="game-description">
            Each team will comsume 10<br />
            litres of Olympics beer, while<br />
            playing all five games during eliminations.
          </p>
        </div>
        <div class="align-self-center fix-after-ipad pr-3 pl-3">
          <img src="../assets/imgs_2019/beer.png" alt="Beer" class="img-fluid game-img" />
        </div>
      </div>
      <div class="row pt-3 game-row mt-2">
        <div class="align-self-center fix-after-ipad pr-3 pl-3">
          <img src="../assets/imgs_2019/olympics-tshirt.png" alt="Olympics Tshirt" class="img-fluid game-img" />
        </div>
        <div class="align-self-center fix-after-ipad pr-3 pl-3">
          <p class="game-description">
            Original 9th Edition Beer<br />
            Olympics T-shirt. To keep you<br />
            fresh and well-absorbed.
          </p>
        </div>
      </div>
      <div class="row pt-3 game-row mt-2">
        <div class="align-self-center fix-after-ipad pl-3 pr-3">
          <p class="game-description">
            Medal, badge, certificate.<br />
            Wear your accomplishment.<br />
            Once you've achieved<br />
            greatness.
          </p>
        </div>
        <div class="align-self-center fix-after-ipad pr-3 pl-3">
          <img src="../assets/imgs_2019/merch.png" alt="Medal" class="img-fluid game-img" />
        </div>
      </div>
      <div class="row pt-3 game-row mt-2 pb-5">
        <div class="align-self-center fix-after-ipad pr-3 pl-3">
          <img src="../assets/imgs_2019/food.png" alt="Food" class="img-fluid game-img" />
        </div>
        <div class="align-self-center fix-after-ipad pr-3 pl-3">
          <p class="game-description">
            Snackbox worth Rs. 600.<br />
            Because a warrior needs to eat.
          </p>
        </div>
      </div>
    </div>
  </div>

  <br />
  <div class="col-sm-12 col-xs-12 text-center pb-4">
    <button type="button" class="btn btn-warning rounded-0 mt-1 mb-1 register-btn" (click)="showTnC()">REGISTER YOUR TEAM</button>
  </div>

</div>
<!-- <app-footer></app-footer> -->
