  <div class="container-fluid bg-my-blue main-container pt-2">
    <div class="row">
      <div class="col-sm-12 col-xs-12 pt-4 text-center m-auto">
        <h4 class="main-beer-header">Day Drinking Friends. Assemble.</h4>
        <p class="sub-main-beer-header">FOUR beer athletes. FIVE games.<br /> TEN litres of beer. Prizes galore.</p>
        <div class="hide-from-ipad desktop-games">
          <div class="card my-card">
            <img class="m-auto desktop-games-imgs" src="../assets/imgs/pong.png" alt="Beer Pong">
            <div class="card-body p-0">
              <h5 class="card-title">BEER PONG</h5>
            </div>
          </div>
          <div class="card my-card">
            <img class="m-auto desktop-games-imgs" src="../assets/imgs/jenga.png" alt="Beer Jenga">
            <div class="card-body p-0">
              <h5 class="card-title">JENGA</h5>
            </div>
          </div>
          <div class="card my-card">
            <img class="m-auto desktop-games-imgs" src="../assets/imgs/darts.png" alt="Darts">
            <div class="card-body p-0">
              <h5 class="card-title">DARTS</h5>
            </div>
          </div>
          <div class="card my-card">
            <img class="m-auto desktop-games-imgs" src="../assets/imgs/colorbrain.png" alt="Colour Brain">
            <div class="card-body p-0">
              <h5 class="card-title">COLOUR BRAIN</h5>
            </div>
          </div>
          <div class="card my-card">
            <img class="m-auto desktop-games-imgs" src="../assets/imgs/chug.png" alt="Chug">
            <div class="card-body p-0">
              <h5 class="card-title">CHUG</h5>
            </div>
          </div>
        </div>
        <swiper [config]="sliderConfig" class="show-from-ipad">
          <div class="card my-card swiper-slide">
            <img class="card-img-top m-auto" src="../assets/imgs/pong.png" alt="Beer Pong">
            <div class="card-body p-0">
              <h4 class="card-title">- Beer Pong -</h4>
              <p class="card-text game-description">Drink fast, shoot straight. Easier said than done,<br />
                especially since you're seeing everything in triplicate.</p>
              <p class="color-yellow m-0">- Prizes -</p>
              <ul class="list-inline game-prize-list">
                <li class="list-inline-item">
                  <p>Gold: 16 pints</p>
                </li>
                <li class="list-inline-item">
                  <p>Silver: 12 pints</p>
                </li>
                <li class="list-inline-item">
                  <p>Bronze: 8 pints</p>
                </li>
              </ul>
            </div>
          </div>
          <div class="card my-card swiper-slide">
            <img class="card-img-top m-auto" src="../assets/imgs/jenga.png" alt="Beer Jenga">
            <div class="card-body p-0">
              <h4 class="card-title">- Beer Jenga -</h4>
              <p class="card-text game-description">A game of fierce skill in the land of the very high buzz.</p>
              <p class="color-yellow m-0">- Prizes -</p>
              <ul class="list-inline game-prize-list">
                <li class="list-inline-item">
                  <p>Gold: 16 pints</p>
                </li>
                <li class="list-inline-item">
                  <p>Silver: 12 pints</p>
                </li>
                <li class="list-inline-item">
                  <p>Bronze: 8 pints</p>
                </li>
              </ul>
            </div>
          </div>
          <div class="card my-card swiper-slide">
            <img class="card-img-top m-auto" src="../assets/imgs/darts.png" alt="Darts">
            <div class="card-body p-0">
              <h4 class="card-title">- Darts -</h4>
              <p class="card-text game-description">Drink, aim, shoot. Remove your beer goggles for this one.</p>
              <p class="color-yellow m-0">- Prizes -</p>
              <ul class="list-inline game-prize-list">
                <li class="list-inline-item">
                  <p>Gold: 16 pints</p>
                </li>
                <li class="list-inline-item">
                  <p>Silver: 12 pints</p>
                </li>
                <li class="list-inline-item">
                  <p>Bronze: 8 pints</p>
                </li>
              </ul>
            </div>
          </div>
          <div class="card my-card swiper-slide">
            <img class="card-img-top m-auto" src="../assets/imgs/colorbrain.png" alt="Colour Brain">
            <div class="card-body p-0">
              <h4 class="card-title">- Colour Brain -</h4>
              <p class="card-text game-description">A colour game with an evil twist, you will need brains,<br />
                brawn and beer to mouth coordination.
                </p>
              <p class="color-yellow m-0">- Prizes -</p>
              <ul class="list-inline game-prize-list">
                <li class="list-inline-item">
                  <p>Gold: 16 pints</p>
                </li>
                <li class="list-inline-item">
                  <p>Silver: 12 pints</p>
                </li>
                <li class="list-inline-item">
                  <p>Bronze: 8 pints</p>
                </li>
              </ul>
            </div>
          </div>
          <div class="card my-card swiper-slide">
            <img class="card-img-top m-auto" src="../assets/imgs/chug.png" alt="Chug">
            <div class="card-body p-0">
              <h4 class="card-title">- Chug -</h4>
              <p class="card-text game-description">Teams of four people line-up next to each other,<br />
                chugging their glasses of beer - Group Chug everyone!  </p>
              <p class="color-yellow m-0">- Prizes -</p>
              <ul class="list-inline game-prize-list">
                <li class="list-inline-item">
                  <p>Gold: 16 pints</p>
                </li>
                <li class="list-inline-item">
                  <p>Silver: 12 pints</p>
                </li>
                <li class="list-inline-item">
                  <p>Bronze: 8 pints</p>
                </li>
              </ul>
            </div>
          </div>
        </swiper>
      </div>
    </div>
  </div>
  <div class="hide-from-ipad">
    <div class="container-fluid bg-my-light-blue" style="padding-bottom:35px;margin-top:-2px;">
      <div class="row">
        <div class="col-sm-12 col-xs-12 pt-4 text-center m-auto">
          <h4 class="font-weight-bold pb-2">The Beer Olympics Experience includes food,<br />
            clothing, and more beer than you can handle.</h4>
          <div class="desktop-bag-contents">
            <div class="card my-card">
              <img class="m-auto desktop-bag-imgs" src="../assets/imgs/beer.png" alt="Beer">
              <div class="card-body p-0">
                <h5 class="card-title pt-3">BEER WORTH RS 3000</h5>
              </div>
            </div>
            <div class="card my-card">
              <img class="m-auto desktop-bag-imgs" src="../assets/imgs/food.png" alt="Food">
              <div class="card-body p-0">
                <h5 class="card-title pt-3">LUNCH BOX</h5>
              </div>
            </div>
            <div class="card my-card">
              <img class="m-auto desktop-bag-imgs" src="../assets/imgs/tshirt.png" alt="Tshirt">
              <div class="card-body p-0">
                <h5 class="card-title pt-3">ORIGINAL OLYMPICS TEE</h5>
              </div>
            </div>
            <div class="card my-card">
              <img class="m-auto desktop-bag-imgs-alt" src="../assets/imgs/coaster-bag.png" alt="Bag kit">
              <div class="card-body p-0">
                <h5 class="card-title pt-3">ATHLETE KIT</h5>
              </div>
            </div>
            <div class="card my-card">
              <img class="m-auto desktop-bag-imgs-alt" src="../assets/imgs/winners.png" alt="Winners">
              <div class="card-body p-0">
                <h5 class="card-title pt-3">PRIZES</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="hide-from-ipad last-section">
    <div class="container-fluid bg-my-blue" style="padding-bottom:70px;">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
          <h4 class="color-black mt-4 mb-0 font-weight-bold desktop-heading">Entry Fee: Rs 3000 per athlete</h4>
          <img class="team-img m-auto" src="../assets/imgs/team.png" alt="Team" />
          <h6 class="mt-1 mb-3 desktop-text">
            You will need a team of FOUR athletes (Rs 12,000 per team) <br />
            with drunken determination and livers of steel.
          </h6>
        </div>
      </div>
    </div>
  </div>
  <div class="show-from-ipad bag-kit-wrapper">
    <div class="container-fluid bg-my-light-blue secondary-container">
      <div class="row">
        <div class="col-sm-12 col-xs-12 p-0 text-center m-auto pb-3">
          <img class="img-fluid show-in-mobile pull-img-up" src="../assets/imgs/section-top-darkblue.png" alt="Dark Blue Arrow"/>
          <h5 class="main-beer-header pt-4 mb-0 pl-3 pr-3 font-weight-bold">The Beer Olympics experience includes</h5>
          <p style="font-size:14px;">Food, clothing, and more beer than you can handle.</p>
          <swiper [config]="sliderNewConfig">
            <div class="card my-card swiper-slide">
              <img class="img-fluid m-auto bag-imgs" src="../assets/imgs/beer.png" alt="Beer">
              <div class="card-body p-0 pt-1">
                <h4 class="card-title">- Beer worth Rs 3000 -</h4>
                <p class="card-text game-description pl-2 pr-2 font-weigth-bold">Each athlete will consume 10 pints (worth Rs 3000) <br />
                  while playing 5 beer games.</p>
              </div>
            </div>
            <div class="card my-card swiper-slide">
              <img class="img-fluid m-auto bag-imgs" src="../assets/imgs/food.png" alt="Food" style="width:200px;">
              <div class="card-body p-0">
                <h4 class="card-title">- Lunch Box -</h4>
                <p class="card-text game-description pl-2 pr-2 font-weigth-bold">A lunch box worth Rs 600. Because a warrior needs to eat.</p>
              </div>
            </div>
            <div class="card my-card swiper-slide">
              <img class="img-fluid m-auto bag-imgs" src="../assets/imgs/tshirt.png" alt="Tshirt">
              <div class="card-body p-0 pt-1">
                <h4 class="card-title">- Original Olympics Tee -</h4>
                <p class="card-text game-description pl-2 pr-2 font-weigth-bold">A good quality Tshirt to keep you fresh and well absorbed.</p>
              </div>
            </div>
            <div class="card my-card swiper-slide">
              <img class="img-fluid m-auto bag-imgs-alt" src="../assets/imgs/coaster-bag.png" alt="bag Kit">
              <div class="card-body p-0 pt-1">
                <h4 class="card-title">- Athlete Kit -</h4>
                <p class="card-text game-description pl-2 pr-2 font-weigth-bold">Bag, key chain, medal and merch, so you can wear your accomplishment,<br />
                  once you've achieved greatness.
                </p>
              </div>
            </div>
            <div class="card my-card swiper-slide">
              <img class="img-fluid m-auto bag-imgs-alt" src="../assets/imgs/winners.png" alt="Winners" style="width:250px;">
              <div class="card-body p-0 pt-3">
                <h4 class="card-title">- Prizes -</h4>
                <p class="card-text game-description pl-2 pr-2 font-weigth-bold">Win points, pints and bragging rights.<br />
                  And a shot at winning beer worth Rs 1,00,000.</p>
              </div>
            </div>
          </swiper>
        </div>
      </div>
    </div>
    <div class="container-fluid bg-my-blue third-container">
      <div class="row">
        <div class="col-sm-12 col-xs-12 p-0 text-center m-auto">
          <img class="img-fluid show-in-mobile pull-img-up" src="../assets/imgs/section-top-lightblue.png" alt="Light Blue Arrow"/>
          <h5 class="pt-3 pb-2">
            Entry Fee: Rs 3000 per athlete
          </h5>
          <img class="team-img m-auto" src="../assets/imgs/team.png" alt="Team" />
          <p class="pt-3 pb-5" style="font-size:14px;">
            You will need a team of FOUR athletes (Rs 12,000 per team) <br />
            with drunken determination and livers of steel.
          </p>
          <br />
        </div>
      </div>
    </div>
    <!-- <div class="container-fluid bg-my-light-blue final-container pb-5">
      <div class="row">
        <div class="col-sm-12 col-xs-12 p-0 text-center m-auto">
          <img class="img-fluid show-in-mobile pull-img-up" src="../assets/imgs/section-top-darkblue.png" alt="Dark Blue Arrow"/>
          <h5 class="color-black mt-4">The Beer Olympics experience includes....</h5>
          <p class="mt-3 pb-3 color-black bag-contents">
            Food, clothing, and more beer than you can<br />
            handle (10 litres per team). And a warm welcome to the<br />
            Doolally Beer Olympics Hall of fame.
          </p>
        </div>
      </div>
    </div> -->
  </div>
<app-footer></app-footer>
